#Title {
    text-align: center;
}

#Desc {
    text-align: center;
}

#bloodImg {
    flex: auto;
    text-align: center;
    padding-top: 50px;
}

#img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

fieldset {
    background-color:bisque;
    flex: auto;
    height: 100%;
}

body {
    background-color:blanchedalmond;
}

#box {
    display: flex;
}

#form {
    width: 100%;
}

#results {
    width: 100%;
}

#result {
    text-align: center;
    font-size: 60px;
}